AppointmentScheduling/packages
 AppointmentScheduling/AppointmentScheduling.sln
AppointmentScheduling/.vs/
AppointmentScheduling/AppointmentScheduling/App_Data
AppointmentScheduling/AppointmentScheduling/bin
AppointmentScheduling/AppointmentScheduling/content
AppointmentScheduling/AppointmentScheduling/fonts
AppointmentScheduling/AppointmentScheduling/obj
AppointmentScheduling/AppointmentScheduling/Properties
AppointmentScheduling/AppointmentScheduling/Scripts
AppointmentScheduling/AppointmentScheduling/ApplicationInsights.config
AppointmentScheduling/AppointmentScheduling/favicon.ico
AppointmentScheduling/AppointmentScheduling/Global.asax
AppointmentScheduling/AppointmentScheduling/Global.asax.cs
AppointmentScheduling/AppointmentScheduling/packages.config
AppointmentScheduling/AppointmentScheduling/AppointmentScheduling.csproj
AppointmentScheduling/AppointmentScheduling/AppointmentScheduling.csproj.user
AppointmentScheduling/AppointmentScheduling/Web.Debug.config
AppointmentScheduling/AppointmentScheduling/Web.Release.config
AppointmentScheduling/AppointmentScheduling/Web.config
AppointmentScheduling/AppointmentScheduling/Views/Shared/_Layout.cshtml
AppointmentScheduling/AppointmentScheduling/Views/_ViewStart.cshtml
AppointmentScheduling/AppointmentScheduling/App_Start/