@{
    ViewBag.Title = "Double-check login";
}

<h2>Double-check login</h2>

<div id="loginForm">
    @using (Html.BeginForm("AuthenticationPage", "Home", FormMethod.Post, new { Class = "form-group" }))
    {
    <div>
        <label>A mail with an Authentication Code has been sent to you...</label>
        <br />
        <label>please insert Authentication code</label>
        <br />

        <div class="input-group">
        </div>
            <input type="text" id="AuthenticationCodeFromUser" name="AuthenticationCodeFromUser"  />
            <input class="btn btn-primary" id="a" type="submit" value="Submit" />
        <div style="color:red">
            @ViewBag.AuthenticationError
        </div>
        <br />
    </div>
    }
</div>


