@model AppointmentScheduling.Models.Appointment

@{
    ViewBag.Title = "AddNewAppointments";
}

<h2>AddNewAppointments</h2>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(2019,0,1),
                showOn: "both",
                buttonText: "Select"

            });
            

        });

    </script>
}

    <div id="registerForm">
        @using (Html.BeginForm("AddNewAppointmentSubmit", "Doctor", FormMethod.Post, new { Class = "form-group" }))
        {
        <div>
            <div>
                <label>תאריך התור</label>
                @Html.EditorFor(m => m.Date, new { htmlAttributes = new {@Value= "datepicker", @class = "datepicker" } })
                <div style="color:red">@Html.ValidationMessageFor(x => x.Date)</div>

            </div>
            <div>
                <label>שעת התור</label>
                <select name="minu" id="minu">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
                :
                <select name="hour" id="hour">
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>

                </select>
            </div>
            
        </div>
            <input class="btn btn-primary" id="add" type="submit" value="הוסף" />
            <div style="color:red">
                @ViewBag.appexist
            </div>
            
        }
    </div>
