@model AppointmentScheduling.ViewModel.PrescriptionViewModel
@using AppointmentScheduling.Models;

<span style="color:mediumpurple"> Patients: </span>
<br />
@{
    WebGrid obj3 = new WebGrid(Model.Prescriptions, rowsPerPage: 2, canPage: false, canSort: false);

}
@obj3.GetHtml()