
@{
    ViewBag.Title = "ShowDetails";
}

<h2>ShowDetails</h2>




<button class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("ChangePass")'">שינוי סיסמה</button>

<div style="color:green">
    @ViewBag.pass
</div>