@model AppointmentScheduling.ViewModel.AppointmentViewModel
@using AppointmentScheduling.Models
@{
    ViewBag.Title = "YourAppointments";
}

<h2>YourAppointments</h2>
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <td>  רופא  </td>
        <td>  תאריך  </td>
    </tr>
    @foreach (Appointment obj in Model.Appointments)
    {
        <tr>
            <td>@obj.DoctorName </td>
            <td>@obj.Date </td>
            <td>
                @Html.ActionLink("בטל תור", "CancelAppointment", "Patient", new { DoctorName = obj.DoctorName, date = obj.Date }, null)
            </td>

        </tr>
    }
</table>
